<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.393025732052-i3tm94saufv9pgd6sgieplnjsfc3utcr</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>393025732052-i3tm94saufv9pgd6sgieplnjsfc3utcr.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
